<!-- 销售商机 -->
<html xmlns:th="http://www.thymeleaf.org"> 
<div id="sales">
  <div>
  <form class="form-inline">
  <div class="form-group">
    <input type="text" class="form-control" id="exampleInputEmail3" placeholder="请输入客户名称">
  </div>

  <div class="form-group">
	<select name="city" id="" class="form-control">
		 <option value="">请选择所属地区</option>
        <option value="0">华中</option>
        <option value="1">华北</option>
        <option value="2">华南</option>
        <option value="3">华东</option>
	</select>
  </div>
  <input class="btn btn-default search" type="button" value="查询">
  <input class="btn btn-default reset" type="reset" value="重置">
  <input class="btn btn-default" type="button" value="新增" id="add">

</form>
</div>

<div>
	<table class="table table-hover">
		 <thead>
		    <tr style="background:#E8E8E8;">
		      <th>序号</th>
		      <th>客户名称</th>
		      <th>概要</th>
		      <th>联系人</th>
		      <th>联系电话</th>	
		      <th>商机指派</th>		 
			  <th>操作</th>
		    </tr> 
		  </thead>

		  <tbody th:each="chance:${session.chances}">
		    <tr>
		      <td th:text="${chance.id}">1</td>
		      <td th:text="${chance.customer}">李四</td>
		      <td th:text="${chance.title}">这是概要,概要</td>
		      <td th:text="${chance.linkman}">王五</td>
		      <td th:text="${chance.phone}">1897456</td>
		      <td th:text="${chance.handler.name}">指派</td>
		      <td>
		      	<i  class="layui-icon layui-icon-edit editUser" th:attr="id=${chance.id},jlid=${chance.handler.id}"></i>  
		      	<i  class="layui-icon layui-icon-delete deleteUser" th:attr="id=${chance.id}"></i>   
		      </td>
		    </tr>
         </tbody>
    </table>
</div>
<div class="fenye">
	<nav aria-label="Page navigation">
	  <ul class="pagination">
	    <li>
	      <a href="#" aria-label="Previous"   th:if="${session.chances.hasPrevious()==false}">
	        <span aria-hidden="true" style="color:#ABABAB">上一页</span>
	      </a>
	          <a href="#" aria-label="Previous" th:if="${session.chances.hasPrevious()==true}" 
	          th:onclick="|selectPage(${session.chances.number-1})|" >
	        <!--session.roles.number 调用的是Page对象的getNumber()方法，获取当前页数  -->
	         <span aria-hidden="true"  >上一页</span>
	     	</a>
	    </li>
	    
	    <!-- class="active" 表示变成灰色 -->
	    <!--numbers.sequence(a,b) 循环遍历，从a开始 ，到b结束 -->
	    <li th:each="num:${#numbers.sequence(1,session.chances.totalPages)}"
	  	    th:attr="class=(${session.chances.number}==${num-1}?'active':'')">
	    	<a   th:if="${num}!=0" href="#"  th:text="${num}" th:onclick="|selectPage(${num}-1)|">1</a>
	    </li>
	   
	   
	    <li>
	      <a href="#" aria-label="Next"  th:if="${session.chances.hasNext()==false}">
	        <span aria-hidden="true" style="color:#ABABAB">下一页</span>
	      </a>
	      
	      <a href="#" aria-label="Next"  th:if="${session.chances.hasNext()==true}"
	      th:onclick="|selectPage(${session.chances.number+1})|">
	        <span aria-hidden="true" >下一页</span>
	      </a>
	    </li>
	    <li>
	    <div align="center">
	    	<span>当前:<span th:text="${session.chances.number+1}">1</span>页/共 
	    			   <span th:text="${session.chances.totalPages}">3</span>页</span>
	    </div>
		</li>
	    
	  </ul>
	</nav>
</div>
<!-- 删除模态框 -->
<div class="modal" id="deleteModal">
  <div class="modal-dialog"  style="width:350px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">是否确定删除</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default " data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary">确定</button>
      </div>
    </div>
  </div>
</div>
<!-- 新增模态框 -->
<div class="modal"  id="toAdd">
  <div class="modal-dialog" style="height:400px;overflow:auto;">
    <div class="modal-content">
       <form id="addform">
					<div class="modal-body">
						<div class="form-group">
							<label>商机来源:</label>
							<input type="text" name="source"  class="form-control">
						</div>
						<div class="form-group">
							<label>客户名称:</label>
							<input type="text" name="customer" class="form-control">
						</div>
						<div class="form-group">
							<label>成功几率:</label>
							<input type="text" name="rate" class="form-control">
						</div>
						<div class="form-group">
							<label>商机概要:</label>
							<input type="text" name="title" class="form-control">
						</div>
						<div class="form-group">
							<label>所属地区:</label>
							<select name="address" id="" class="form-control">
								<option value="">请选择所属地区</option>
						        <option value="0">华中</option>
						        <option value="1">华北</option>
						        <option value="2">华南</option>
						        <option value="3">华东</option>
							</select>
						</div>
						<div class="form-group">
							<label>联系人:</label>
							<input type="text" name="linkman" class="form-control">
						</div>
						<div class="form-group">
							<label>联系电话:</label>
							<input type="text" name="phone" class="form-control">
						</div>
						<div class="form-group">
							<label>创建人:</label>
							<input  th:value="${session.user.name}"  th:attr="userId=${session.user.id}" type="text" name="creator" class="form-control" readonly>
						</div>
						<div class="form-group">
							<label>处理人:</label>
							<select name="handler" id="" class="form-control">
								<option value="">请选择处理人</option>
						         <th:block th:each="user:${session.allUsers}" th:if="${user.role.id}==4">
      					  	<option th:value="${user.id}" th:text="${user.name}"></option>
      								</th:block>		
							</select> 
						</div>
						<div class="form-group">
							<label>商机描述:</label>
							<input type="textarea" name="description" style="height:60px" class="form-control">
						</div>
					</div>
				</form>
				<div class="modal-footer">
				    <button class="btn" style="background:#ccc">取消</button>
					<button class="btn" style="background:#ccc">保存</button>
				</div>
    </div>
  </div>
</div>

</div>
<style>
#sales{
	width: 1140px;
	overflow: hidden;
}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #ccc;
    border-color: #ccc;
}
.pagination > li > a, .pagination > li > span {
    color: black;
}
.fenye{
	margin-left: 400px;
}
	.form-inline{
		margin-top: 15px;
		margin-left: 10px;
		margin-bottom: 20px;
	}
	.search{
		margin-left: 50px;
	}
	#add{
		margin-left: 560px;
	}
	.table th,td{
		text-align: center;
	}
	#deleteModal{
		margin-top: 100px;
	}
	#toAdd{
		margin-top: 50px;
	}
</style>
<script type="text/javascript">
	function selectPage(num){
		$('#sales').load("pageChance",{pageIndex:num});
	}
	$(function(){
		// 显示删除模态框
		var id;
		var jlid;
		$('.deleteUser').click(function(){
			$('#deleteModal').show();
		})
		// 关闭删除模态框
		$('.close').click(function(){
			$('#deleteModal').hide();
		})
		// 关闭删除模态框
		$('.btn-default').click(function(){
			$('#deleteModal').hide();
		})
		// 确定删除
		$('.btn-primary').click(function(){
			$('#deleteModal').hide();
			$.post("delSales",{id:id},function(data){
				alert(data);
				$('#sales').load('toSale'); 
			});
			id=null;
		})
		// 点击新增显示模态框
		$('#add').click(function(){
			//form表单重置
			id=null;
			document.getElementById("addform").reset();
			$('#toAdd').show();
		})
		// 新增模态框关闭
		$('button:contains(取消)').on('click',function(){
			$('button[type=reset]').trigger('click');
				$('#toAdd').hide();
		})
		// 新增模态框保存
		$('button:contains(保存)').on('click',function(){
				var source =$("#toAdd input[name=source]").val();
				var customer = $("#toAdd input[name=customer]").val();
				var rate = $("#toAdd input[name=rate]").val();
				var title = $("#toAdd input[name=title]").val();
				var address = $("#toAdd select[name=address] option:selected").text();
				var linkman = $("#toAdd input[name=linkman]").val();
				var phone = $("#toAdd input[name=phone]").val();
				var creator = $("#toAdd input[name=creator]").attr("userId");
				var handler = $("#toAdd select[name=handler] option:selected").val();
				var description = $("#toAdd input[name=description]").val();
				if(handler==""){
					alert("分配人不能为空!");
				}else{
					$.post("saveChance",{id:id,source:source,customer:customer,rate:rate,title:title,address:address,linkman:linkman,phone:phone,creator:creator,handler:handler,description:description,status:"待处理"},function(data){
						alert(data)
						$("#sales").load("toSales");
					});
				}
				
		})	
		// 点击编辑显示模态框
		$('.editUser').click(function(){
			$('#toAdd').show();
			id=$(this).attr("id");
			jlid=$(this).attr("jlid");
			$.get("findChanceById",{id:id},function(data){
				$("#toAdd input[name=source]").val(data.source);
				$("#toAdd input[name=customer]").val(data.customer);
				$("#toAdd input[name=rate]").val(data.rate);
				$("#toAdd input[name=title]").val(data.title);
				$("#toAdd select[name=address]").val(data.address);
				$("#toAdd input[name=linkman]").val(data.linkman);
				$("#toAdd input[name=phone]").val(data.phone);
				//$("#toAdd input[name=creator]").attr("userId");
				$("#toAdd select[name=handler]").val(jlid);
				$("#toAdd input[name=description]").val(data.description);
			}) 
			//id=null;
			//jlid=null;
		})
		// 查询
		$('.search').click(function(){
			//alert('查询');
			 customer=$("#exampleInputEmail3").val();
			 address = $("select[name=city] option:selected").text();
			 if(address=="请选择所属地区")
				 address="";
			 $("#sales").load("toSales",{customer:customer,address:address});
		})
		$('.reset').click(function(){
			$.get("resetSales",function(data){
				customer=null;
				address=null;
				alert(data);
				$("#sales").load("toSales");
			});
		});
	})
</script>
</html>